body{
    background-image: url(../assets/img/juego1.jpg);
}
/* textoinicio */
h1{
    margin-left:58px;
    font-family:Ink free;
    color:#000;
  
}
/* botones posicion */
.gboton1{
    position: absolute;
  left:50%;
  top:22%;
  z-index: 	
  
  
}
.gboton2{
    position: absolute;
  left:15%;
  top:30%;
  z-index: 
}

.gboton3{
    position: absolute;
  left:20%;
  top:70%;
  z-index: 
}
.gboton4{
    position: absolute;
  left:50%;
  top:50%;
  z-index: 	
}

