body{
    background-image: url(../assets/img/mapa2s.jpg);
}
.conteiner1{
    position: absolute;
  left:29%;
  top:15%;
  z-index: 	;
}

.conteiner2{
    position: absolute;
    left:70%;
    top: 50%;
    z-index: 3	;
}

.conteiner3{
    position: absolute;
    left:7%;
    top: 85%;
    z-index: 	;
}